body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #777777;

    background-color: #fafafa;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.main-header {
    padding-top: 27px;
    margin: 0;
    background-color: #ffffff;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 230px;
}

.main-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-navigation-logo {
    display: block;
    width: 131px;
    height: 35px;
    opacity: 0.5;
}

.main-navigation-logo:hover {
    opacity: 0.9;
}

.main-navigation-logo:active {
    opacity: 0.3;
}

.site-navigation {
    margin: 0;
    padding: 0;
    padding-left: 100px;
    list-style: none;
    word-break: break-all;
    width: 710px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
}

.site-navigation li {
    position: relative;
}

.site-navigation a {
    display: block;
    padding: 6px 0;
    padding-left: 40px;
    color: #777777;
}

.search::before {
    content: "";
    position: absolute;
    padding: 0;

    top: 9px;
    left: 21px;
    width: 8px;
    height: 8px;
    border: 2px solid #777777;
    border-radius: 50%;
}

.search::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 30px;

    width: 6px;
    height: 2px;
    background-color: #777777;
    transform: rotate(45deg);
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #000000;
}

.site-navigation a:hover::before,
.site-navigation a:focus::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 10px;

    width: 2px;
    height: 20px;
    background-color: #000000;
}

.site-navigation a:active {
    color: #2e8b57;
}

.site-navigation a:active::before {
    content: none;
}

.site-navigation-current.site-navigation-current a {
    color: #2e8b57;
}

.slider {
    position: relative;
    min-height: 650px;
    background-color: #fafafa;
    margin-bottom: 33px;
}

.slider-control {
    position: absolute;
    top: 312px;
    width: 1140px;
    height: 43px;
}

.slider-control .button-right,
.slider-control .button-left {
    position: absolute;
    z-index: 100;
    width: 43px;
    height: 43px;
    background: transparent;
    border: 2px solid #fefefe;
    border-radius: 50%
}

.slider-control .button-right {
    right: -117px;
}

.slider-control .button-left {
    left: -117px;
}

.slider-control .button-right::before,
.slider-control .button-right::after,
.slider-control .button-left::before,
.slider-control .button-left::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #fefefe;
    cursor: pointer;
}

.slider-control .button-right::before {
    transform: rotate(45deg);
    top: 13px;
    left: 15px;
}

.slider-control .button-right::after {
    transform: rotate(-45deg);
    top: 23px;
    left: 15px;
}

.slider-control .button-left::before {
    transform: rotate(-45deg);
    top: 13px;
    left: 10px;
}

.slider-control .button-left::after {
    transform: rotate(45deg);
    top: 23px;
    left: 10px;
}

.slider-control .button-right:focus,
.slider-control .button-left:focus,
.slider-control .button-right:hover,
.slider-control .button-left:hover {
    background-color: #000000;
}

.slider-control .button-right:active,
.slider-control .button-left:active {
    background-color: #2e8b57;
}

.slider-indicator {
    position: absolute;
    left: 50%;
    bottom: 96px;
    z-index: 100;

    width: 160px;
    height: 18px;

    text-align: center;
    transform: translateX(-50%);
}

.slider-indicator i {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;

    border-radius: 50%;
    cursor: pointer;
}

.slider-indicator i::after,
.slider-indicator .active::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 8px;
    width: 18px;
    height: 18px;

    background-color: #ffffff;

    border-radius: 50%;
}

.slider-indicator .active::after {
    box-shadow: 0px 0px 0px 6px black inset;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-item {
    display: none;
    width: 1600px;
    margin: 0 auto;
    min-height: 650px;
}

.slider-item:nth-child(1) {
    display: block;
}

.slider-item:nth-child(1) {
    background-image: url("../img/slide1.jpg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.slider-item:nth-child(2) {
    background-image: url("../img/slide2.jpg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.slider-item h1 {
    position: absolute;
    left: 50%;
    top: 263px;
    display: block;
    width: 700px;
    padding: 10px 0;
    margin: 0;
    margin-left: -350px;
    font-size: 48px;
    font-weight: 300;
    color: #ffffff;
    background-color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.slider-item p {
    position: absolute;
    left: 50%;
    top: 340px;
    display: block;
    width: 700px;
    padding: 0;
    margin: 0;
    margin-left: -350px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    background-color: transparent;
    text-transform: uppercase;
    text-align: center;
}

.sort-option {
    margin: 0;
    padding: 17px 220px;
    list-style: none;
    word-break: break-all;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fafafa;
}

.sort-option li {
    display: inline-block;
    background-color: #fafafa;
    transform: skewX(-20deg);
    border-right: 1px solid #e1e1e1;
}

.sort-option li:last-of-type {
    border-right: none;
}

.sort-option a {
    display: block;
    padding: 5px 10px;
    transform: skewX(20deg);

    color: #777777;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}

.sort-option a:hover,
.sort-option a:focus {
    color: #000000;
}

.sort-option a:active {
    color: seagreen;
}

.catalog {
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
}

.catalog-list-left,
.catalog-list-center,
.catalog-list-right {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.catalog-item {
    position: relative;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    background-color: #fafafa;
}

.catalog-item:hover,
.catalog-item:focus {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.catalog-item:active {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.5;
}

.catalog-item img {
    display: block;
}

.button {
    display: block;
    padding: 8px 25px;
    margin: 0 auto;
    margin-bottom: 73px;
    background-color: #959595;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}

.button:focus,
.button:hover {
    background-color: #000000;
}

.button:active {
    background-color: seagreen;
}


/* about */
.banner {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
    width: 1600px;
    min-height: 350px;

    background-color: #f0f0f2;
    background-image: url("../img/base.jpg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.top-shadow {
    box-shadow: inset 0px 6px 3px -5px #c8c8c8;
}

.banner-text h1 {
    position: absolute;
    top: 115px;
    left: 230px;
    display: block;
    width: 590px;
    padding: 10px 0;
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    color: #ffffff;
    background-color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.banner-text p {
    position: absolute;
    top: 190px;
    left: 230px;
    display: block;
    width: 590px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    background-color: transparent;
    text-transform: uppercase;
}

.information {
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
}

.about-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1140px;
    padding-bottom: 26px;
    margin-bottom: 67px;
}

.about-column-left {
    width: 531px;
}

.about-column-right {
    width: 558px;
}

.story,
.skills {
    display: block;
    width: 558px;
}

.story {
    margin-bottom: 15px;
}

.story h2,
.skills h2 {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400px;
    color: #000000;
    text-transform: uppercase;
}

.story p {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400px;
    color: #777777;
}

.skills ul {
    display: block;
    width: 558px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.skills-scale-item {
    margin-bottom: 20px;
}

.skills-scale-item h3 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #2f302f;
    margin-bottom: 15px;
}

.scale {
    position: relative;
    display: block;
    width: 558px;
    height: 10px;
    background-color: #ebebeb;
}

.bar {
    display: block;
    height: 2px;
    position: absolute;
    top: 4px;
    left: 3px;
    background-color: #a1a1a1;
}

.photoshop-scale .bar {
    width: 490px;
}

.branding-scale .bar {
    width: 520px;
}

.photography-scale .bar {
    width: 276px;
}

.web-design-scale .bar {
    width: 450px;
}

.photoshop-scale,
.branding-scale,
.photography-scale,
.web-design-scale {
    position: relative;
}

.toggle {
    position: absolute;
    top: -1px;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 4px solid #000000;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}

.photoshop-scale .toggle {
    left: 484px;
}

.branding-scale .toggle {
    left: 514px;
}

.photography-scale .toggle {
    left: 270px;
}

.web-design-scale .toggle {
    left: 444px;
}

.scale-value-container {
    position: absolute;
    display: block;
    width: 40px;
    top: -39px;
}

.photoshop-scale .scale-value-container {
    left: 490px;
}

.branding-scale .scale-value-container {
    left: 520px;
}

.photography-scale .scale-value-container {
    left: 276px;
}

.web-design-scale .scale-value-container {
    left: 450px;
}

.scale-value {
    display: block;
    width: 40px;
    padding: 0 0;
    margin: 0;
    background-color: #041608;

    position: relative;

    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
}

.scale-value::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    border: 3.5px solid transparent;
    border-left: 3.5px solid #041608;
    border-top: 3.5px solid #041608;
}

.team {
    display: block;
    width: 1140px;
}

.team h2 {
    width: 360px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.team p {
    width: 615px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 65px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #777777;
    text-align: center;
}

.team-members-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1140px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 75px;
    list-style: none;

}

.team-member {
    display: inline-block;
    width: 358px;
    background-color: #ffffff;
}

.team-member img {
    margin-bottom: 35px;
}

.team-member:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.team-member .name {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    padding-left: 35px;
    display: block;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #152618;
}

.team-member p {
    width: 358px;
    margin: 0;
    padding: 0;
    padding-left: 35px;
    padding-right: 40px;
    padding-bottom: 27px;
    display: block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #9c9c9c;
    box-sizing: border-box;
    text-align: start;
}

.team-member .specialization {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 18px;
    padding-bottom: 0;
}

/* portfolio item */

.portfolio-banner {
    margin-bottom: 0;
}




/* footer */
.main-footer {
    width: 1600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding-top: 64px;
    padding-bottom: 95px;

}

.footer-logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 45px;
    width: 131px;
    height: 35px;
    opacity: 0.5;
}

.footer-logo:hover {
    opacity: 0.9;
}

.footer-logo:active {
    opacity: 0.3;
}

.social {
    display: block;
    padding: 25px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.social-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 360px;
}

.social-list a {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../img/sosial.png');
    background-repeat: no-repeat;
    opacity: 0.5;
}

.social-list .fb {
    background-position: 5px 3px;
}

.social-list .google {
    background-position: -60px 3px;
}

.social-list .tw {
    background-position: -130px 3px;
}

.social-list .pin {
    background-position: -335px 3px;
}

.social-list .inst {
    background-position: -405px 3px;
}

.social-list a:hover,
.social-list a:focus {
    opacity: 1;
}

.social-list a:active {
    background-image: url('../img/sosial-active.png');
}